$bgColor: white;
$blockWidth: 30%;
$border: 4px solid red;
$mainFontSize: 1.1em;
* {
    padding: 0;
    margin: 0;
}
@mixin font ( $fontW, $color: grey,) { //initial value
    font-size: $mainFontSize;
    font-weight: $fontW;
    font-family: Arial, sans-serif;
    color: $color;
}
@mixin padd($padd...) {
    padding: $padd;
}
// link 
@mixin link($link, $hover, $active, $visited) {
    a{
        color: $link;

        &:hover {
            color: $hover;
        }
        &:active {
            color: $active;
        }
        &:visited {
            color: $visited;
        }
    }
}
@include link(black, red, blue, green);




body {
    background: grey;
}
.first {
    background: $bgColor;
    height: 100px;
    margin-bottom: 20px;
    width: $blockWidth;
    border: $border;
}
#central_block {
    padding: 30px;

    ul {
        list-style: none;
        display: inline-block;

        li {
            float: left;
            margin-right: 10px;

            a {
                @include font ($fontW: bold, $color: blue);
                //color: blue;

                //pseudo classes
                &:hover {
                    color: red;
                }
            }
        }
        a {
            @include font (light);
            //color: red;
        }
    }
}
.block:not(.first) {
    @include padd(20px 40px 30px);
    background: $bgColor;
    height: 100px;
    margin-bottom: 20px;
    width: $blockWidth;
    border: $border;
}

