@import "variables";
@import "mixins";

* {
    padding: 0;
    margin: 0;
}


@include link(black, red, blue, green);

body {
    background: grey;
}
.first {
    background: $bgColor;
    height: 100px;
    margin-bottom: 20px;
    width: $blockWidth;
    border: $border;
}
#central_block {
    padding: 30px;

    ul {
        list-style: none;
        display: inline-block;

        li {
            float: left;
            margin-right: 10px;

            a {
                @include font ($fontW: bold, $color: blue);
                //color: blue;

                //pseudo classes
                &:hover {
                    color: red;
                }
            }
        }
        a {
            @include font (light);
            //color: red;
        }
    }
}
.block:not(.first) {
    @include padd(20px 40px 30px);
    background: $bgColor;
    height: 100px;
    margin-bottom: 20px;
    width: $blockWidth;
    border: $border;
}

